// Hoja de estilos que reune variables y estilos generales(@mixin) aplicables a diversos elementos/bloques

$color-dark: #262626;
$color-black: #000;
$color-primary: #d3ab55;
$color-secondary: #bbb;
$color-white: #fff;

$font-dancingScript: 'Dancing Script', cursive;
$font-josefineSans: 'Josefin Sans', san-serif;
$font-nunito: 'Nunito', san-serif;

// mixin con la implementacion de flexbox a un elemento/clase
@mixin flex-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

// mixin que define un estilo de texto particular
@mixin text-styles($transform: upppercase) {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: $transform;
}

// mixin para centrar elementos dentro de un bloque con el posicionamiento de top definido como parametro
@mixin centering($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

//placeholder para ancho y alto al 100%
%full-space {
    width: 100%;
    height: 100%;
}

// por defecto quitamos los margenes y paddings de todos los elementos en nuestra pagina
* {
    margin: 0;
    padding: 0;
}

// aplicamos un fondo de color negro al body
body {
    background-color: $color-dark;
}