// En components definimos estilos para elementos htmls concretos (a, p, h1,h3) pero teniendo solo en cuenta su nameClass

.hamburger-menu {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 300;

    .menu {
        @extend %full-space;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        // retarda la transformacion del menu en 0.5 segundos
        transition: transform .5s;

        &-line {
            width: 100%;
            height: 4px;
            background-color: $color-primary;
            // el eje de rotacion de las lineas edel menu esta centrado, aqui cambiamos el eje de rotacion
            transform-origin: right;
            // retarda elgiro de las lineas del menu
            transition: all .5s .5s;
        }
    }
}
.logo {
    font-size: 70px;
    color: $color-primary;
    width: 110px;
    height: 110px;
    border: 3px solid $color-primary;
    border-radius: 50%;
    margin-right: 20px;
    @include flex-layout;
}

.main-name {
    font-family: $font-nunito;
    font-size: 50px;
    color: $color-secondary;
    @include text-styles;
}

.sub-name {
    font-family: $font-josefineSans;
    font-size: 18px;
    color: $color-secondary;
    text-align: center;
    @include text-styles;
}

.main-heading {
    font-family: $font-dancingScript;
    font-size: 100px;
    font-weight: 300;
    color: $color-primary;
    margin-bottom: 40px;
}

.sub-heading {
    font-family: $font-josefineSans;
    font-size: 60px;
    font-weight: 300;
    color: $color-secondary;
    margin-bottom: 80px;
}

.main-btn {
    width: 170px;
    height: 45px;
    font-family: $font-josefineSans;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-primary;
    background-color: transparent;
    border: 1px solid $color-primary;
    outline: none;
    cursor: pointer;
    transition: all .4s;

    &:hover {
        background-color: $color-primary;
        color: $color-dark;
    }
}

.card {
    width: 33.33333%;
    height: 30vw;
    position: relative;
    // oculto el precio y el boton
    overflow: hidden;

    // al pasar el cursor lo muestro
    &:hover .card-overlay {
        left: 0;
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: -100%;
        background-color: rgba($color-primary, .6);
        color: $color-white;
        z-index: 10;
        @include flex-layout;
        flex-direction: column;
        @extend %full-space;
        // seteo el tiempo de animacion de del overlay a 0.7 segundos
        transition: left .7s;

        &-heading {
            font-family: $font-nunito;
            font-size: 50px;
            @include text-styles(capitalize)
        }

        &-paragraph {
            font-family: $font-josefineSans;
            font-size: 30px;
            margin-bottom: 30px;
            @include text-styles(capitalize)
        }

        &-btn {
            width: 150px;
            height: 40px;
            color: $color-primary;
            background-color: $color-white;
            font-family: $font-josefineSans;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 1px solid $color-primary;
            border-radius: 30px;
            outline: none;
            cursor: pointer;
        }
    }

    &-img {
        @extend %full-space;
        object-fit: cover;
        opacity: .5;
    }
}