// En layout vamos a setear los estilos correspondientes al layout
// Se trabaja con los elementos div y section teniendo en cuenta su className y algunos elementos con estilos no reutilizables

.navbar {
    position: relative;
    z-index: 200;

    &-navigation {
        display: flex;

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            left: -50vw;
            // se hace uso del generador de curvas de beizer para la transicion del menu navbar
            // https://developer.mozilla.org/es/docs/orphaned/Web/CSS/Tools/Cubic_Bezier_Generator
            // https://cubic-bezier.com/#.17,.67,.83,.67
            transition: left .8s cubic-bezier(1, 0, 0, 1);

            .left-img {
                width: 50%;
                position: absolute;
                box-shadow: 0 15px 60px rgga($color-black, .4);
                opacity: .7;
                border-radius: 10px;
            }

            .left-img-1 {
                top: 15%;
                left: 15%;
            }

            .left-img-2 {
                top: 35%;
                left: 25%;
            }

            .left-img-3 {
                top: 55%;
                left: 35%;
            }
        }

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: #1f1d1d;
            position: fixed;
            right: -50vw;
            @include flex-layout;
            // se hace uso del generador de curvas de beizer para la transicion del menu navbar
            // https://developer.mozilla.org/es/docs/orphaned/Web/CSS/Tools/Cubic_Bezier_Generator
            // https://cubic-bezier.com/#.17,.67,.83,.67
            transition: right .8s cubic-bezier(1, 0, 0, 1);

        }

        .nav-list {
            &-item {
                list-style: none;
            }

            &-link {
                font-family: $font-dancingScript;
                font-size: 50px;
                @include text-styles(capitalize);
                color: $color-secondary;
                text-decoration: none;
                display: block;
                margin: 20px;
                text-align: center;
                transition: all .5s;

                &:hover {
                    color: $color-primary;
                    letter-spacing: 4px;
                }
            }
        }
    }
}
// css puro para que al momento de presionar el icono menu aparezca el menu navbar
.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}
// css puro para que al momento de presionar el icono menu aparezca el menu navbar
.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

// rotamos 90 grados las lineas del menu
.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}

// rotamos la linea superior -40 grados
.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}

// desaparece la segunda linea
.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}

// rotamos la linea inferior -40 grados
.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}

.header {
    width: 100%;
    height: 100vh;
    // asignamos un fondo especifico al body y aplicamos un degradado de colores lineal
    background: linear-gradient(rgba($color-black, .8), rgba($color-black, .3)), url(../images/bg.jpeg) center no-repeat;
    background-size: cover;

    .brand {
        display: flex;
        align-items: center;
        @include centering(15%);
    }

    &-banner {
        text-align: center;
        @include centering(50%);
    }
}

.about-us {
    height: 90vh;
    display: flex;
    align-items: center;

    &-left {
        width: 40%;
        position: relative;
        // left: -100px;
        img {
            width: 100%;
            opacity: .7;
        }
    }

    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        box-sizing: border-box;

        .stars {
            margin:30px 0;
        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 10px;
        }

        .description {
            font-family: $font-josefineSans;
            font-size: 25px;
            font-style: italic;
            color: $color-secondary;
            text-align: justify;

            // uso de pseudo-elements :: para agregar estilo a una parte especifica del elemento
            //https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
            &::first-letter {
                padding-left: 50px;
            }
        }
    }
}

.gallery {
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer {
    padding: 70px 0;
    @include flex-layout;
    flex-direction: column;

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    .social-media {
        display: flex;
        width: 300px;
        justify-content: space-between;
        margin-bottom: 70px;

        &-item {
            list-style: none;
        }

        &-link {
            text-decoration: none;
            font-size: 50px;
            color: $color-secondary;
            transition: color .3s;
            
            &:hover {
                color: $color-primary;
            }
        }
    }

    &-copyright-paragraph {
        font-family: $font-josefineSans;
        font-size: 18px;
        color: $color-secondary;
        @include text-styles(capitalize)
    }
}


